<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

	<configSections> 
		<section name="urlrewritingnet"
			restartOnExternalChanges="true"
			requirePermission="false"
			type="UrlRewritingNet.Configuration.UrlRewriteSection,UrlRewritingNet.UrlRewriter"
		/> 
	</configSections> 

	<connectionStrings><remove name="LocalSqlServer" /></connectionStrings>

	<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
        <rewrites>
            <add name="day" virtualUrl="^http\://(.*)/(\d{4})/(\d{0,2})/(\d+)" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/view.aspx?year=$2&amp;month=$3&amp;day=$4" rewrite="Domain" ignoreCase="true"/>
            <add name="month" virtualUrl="^http\://(.*)/(\d{4})/(\d{0,2})" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/default.aspx?year=$2&amp;month=$3" rewrite="Domain" ignoreCase="true"/>
            <add name="year" virtualUrl="^http\://(.*)/(\d{4})" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/default.aspx?year=$2" rewrite="Domain" ignoreCase="true"/>
            <add name="api" virtualUrl="^http\://(.*)/api" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/post.aspx" rewrite="Domain" ignoreCase="true"/>
            <add name="oldXML" virtualUrl="^http\://(.*)/rss.xml" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/rss.aspx" rewrite="Domain" ignoreCase="true"/>
            <add name="rss" virtualUrl="^http\://(.*)/rss$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/rss.aspx" rewrite="Domain" ignoreCase="true"/>
            <add name="map" virtualUrl="^http\://(.*)/sitemap.xml" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/sitemap.aspx" rewrite="Domain" ignoreCase="true"/>
       </rewrites>
    </urlrewritingnet>

	<appSettings>
		<add key="SQLConnString" value="Data Source=(local);Initial Catalog=aether;User ID=sa;Password=" />
		<add key="WebDAL" value="SQLServerDAL" />
	</appSettings>

	<system.web>

		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</httpModules>

		<pages validateRequest="false" autoEventWireup="true" enableViewState="false">
			<controls>
				<add tagPrefix="txt" namespace="SomeControls"></add>
				<add tagPrefix="include" src="~/lib/archives.ascx" tagName="arv"></add>
				<add tagPrefix="include" src="~/lib/recentComments.ascx" tagName="cmt"></add>
				<add tagPrefix="include" src="~/lib/recentPosts.ascx" tagName="list"></add>
				<add tagPrefix="include" src="~/lib/posts.ascx" tagName="posts"></add>
				<add tagPrefix="include" src="~/lib/comments.ascx" tagName="comments"></add>
				<add tagPrefix="include" src="~/lib/refers.ascx" tagName="refers"></add>
			</controls>
		</pages>

		<compilation defaultLanguage="c#" debug="true" />

		<customErrors mode="Off" /> 
		<authentication mode="Windows" /> 
		<authorization><allow users="*" /></authorization>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />

		<trace
		   enabled="false"
		   requestLimit="20"
		   pageOutput="false"
		   traceMode="SortByTime"
		   localOnly="true"
		/>

		<sessionState
		   mode="InProc"
		   stateConnectionString="tcpip=127.0.0.1:42424"
		   sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
		   cookieless="false"
		   timeout="20"
		/>
   
	</system.web>

</configuration>
