@import url("_global.css");

	.main .refer {margin-bottom:5px;}

.comments{}
	.comment { background:#363E44 url(/images/author_round_corner.gif) no-repeat;padding-top:20px; }
	.main .comment {margin-bottom:10px;}
		.comment .inner { background:url(/images/comments_round_corner.gif) no-repeat 0 bottom;padding-bottom:20px; }
		.comment .caption {background:none;text-align:left;padding:0 15px 0 25px;font-weight:bold;}
			.comment .caption span {float:right;color:#777B80;font-weight:normal;}
			.comment .caption i {font-weight:normal;font-style:normal;margin-right:10px;color:#5C6368;}
		.comment .contain {padding:5px 20px 5px 25px;line-height:150%;margin:0;}
	.commentGuild {color:#FFA826;margin-top:25px;margin-bottom:10px;}

	.commentPost {background:transparent url(/images/fieldset.gif) no-repeat;}
		.commentPost .inner {padding:10px 10px 0 25px;font-size:14px;color:#fff;}
		.commentPost li {margin-bottom:10px;}
		.commentPost .input {border:2px #292F33 solid;padding:3px;width:175px;}
		.commentPost .inner textarea {
			width:440px;height:180px;
			padding:3px;margin-top:5px;
		}
		.commentPost .submit {
			margin:0pt 10px 0pt 0pt;padding:2px 6px 3px;
			background:transparent;border-color:#5C6166;border-style:solid;border-width:1px 2px 2px 1px;
			color:#FFFFFF;cursor:pointer;
		}
	.commentNew {background-color:#990000;}


/* rewrite _global.css */
.banner {
	background-image:url(/images/logo_v.gif);
}
	.banner a {
		position:absolute;
		padding:30px 23px;
		margin-top:45px;margin-left:60px;
	}
	.banner a:hover {background:none;}