@import url("_global.css");

.comments{}
	.comment { padding-top:10px; }
	.main .comment {margin-bottom:0;}
		.comment .inner { padding-bottom:10px; }
		.comment .caption {background:none;text-align:left;padding:5px 0;margin-bottom:0;font-weight:bold;}
			.comment .caption span {color:#777B80;font-weight:normal;font-family:Arial;font-size:9px;}
			.comment .caption i {float:right;font-size:22px;color:#999;font-family:"Times New Roman";}
		.comment .contain {padding:5px 0;line-height:150%;margin:0;border:none;}
	.commentGuild {color:#666;margin-top:35px;margin-bottom:10px;font-weight:bold;}

	.commentPost {border-bottom:none !important;}
		.commentPost .inner {font-size:14px;}
		.commentPost li {margin-bottom:10px;}
		.commentPost .input {border:1px #B9B99E solid;padding:3px;width:175px;}
		.commentPost .inner textarea {
			width:500px;height:80px;
			padding:3px;margin-top:5px;
		}
		.commentPost .submit {
			margin:0pt 10px 0pt 0pt;padding:2px 6px 3px;
			background:transparent;border-color:#5C6166;border-style:solid;border-width:1px 2px 2px 1px;
			color:#000;cursor:pointer;margin-bottom:20px;
		}
	.commentNew {background-color:#E3E3E3;padding-left:15px;padding-right:15px;}


/* rewrite _global.css */
.banner {
}
	.banner a {
		position:relative;
		width:350px;height:150px;margin:0 auto;
		display:block;
	}
