
* {margin:0;padding:0;}
	html {border-top:3px solid #2D393B;color:#525B5C;background:#EEEEEE;}
	body {
		font-size:12px;font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif,"ו";
		background:url(/images/bg.png) repeat-x;
	}
	h1{font-family:"Times New Roman";font-size:18px;color:#fff;}
	a {text-decoration: none;color:#314FA9;}
	a:hover { color:#213571; }
	li {list-style:none;}
	img {border:none;}

.banner {
	height:148px;margin-bottom:40px;
	background:#2D393B url(/images/logo.gif) no-repeat center 0;
}
.banner h1 i {display:none;}

.frame {}
	.wrapper {
		clear:both;width:750px;margin:0 auto;padding-bottom:10px;
	}
	.main .box {margin-bottom:40px;}
	.side .box {margin-bottom:20px;}
	.innerbox {padding:10px;}

.main {float:left;width:500px;}
	.main img {border:1px solid #292F34;padding:3px;margin:0 10px 10px 0;}
	.main .post {background:url(/images/text.png) no-repeat right 45px;min-height:180px;}
	.main .caption {padding-bottom:40px;text-align:right;}
		.main .caption h2 {font-size:26px;font-family:Georgia,"Times New Roman",serif;font-weight:normal;color:#fff;}
		.main .caption a {color:#000;}
		.main .caption a:hover {color:#666;text-decoration: underline;}
	.infomations {
		margin-top:15px;padding-top:8px;margin-bottom:18px;
		border-top:1px solid #2F3941;color:#777B80;
	}
		.infomations li {float:left;margin-right:15px;}
	.time {margin-bottom:15px;color:#A8ADAD;text-indent:28px;font-family:'Lucida Grande',Tahoma,Verdana,sans-serif;}
	.text,#editor .textarea {margin-bottom:20px;padding-right:15px;line-height:160%;font-size:14px;}
		.text a {text-decoration: underline;}
		.text a:hover {text-decoration: none;}
		.text textarea {
			border:1px solid #4a4a4a;background:#656B70;margin:5px auto;
			width:95%;overflow:auto;
		}


.side {float:right;width:240px;padding-top:45px;padding-bottom:80px;}
	.side .box {background:url(/images/sidebar.png) no-repeat right 0;margin-bottom:30px;min-height:160px;}
	.side .caption {
		padding:20px 0 0 0;margin-bottom:12px;
		font-size:12px;color:#525B5C; padding-left:12px;
	}
	.side .contain { line-height:150%;padding:0 15px; }

	.side .recentComments a {text-decoration: underline;}
	.side .recentComments li, .side .recentPosts li {margin:8px 0;background:none;padding-left:0;}

	.side .search form {margin-bottom:10px;}
		.side .search .key {padding:2px;margin-right:2px;width:120px;}
		.side .search .btn {padding:1px;}

.about {
	clear:both;padding:30px;text-align:center;color:#000;
	background:url(/images/bottom.png) repeat-x;
}


/* Tool Kit //////////*/
.fix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
	.fix {display: inline-table;min-height: 1%}
	/* Hides from IE-mac \*/
*	html .fix {height: 1%;}
	.fix {display: block;}
	/* End hide from IE-mac */

